@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class=" row">
        <p>
            @Html.ActionLink("Place order", "Index", "Orders")
        </p>
        <p>
            @Html.ActionLink("Add product to order", "Index", "Orderprods")
        </p>
    </div>
</div>